@keyframes acc
{
	from 	{
				margin-left: 80%;
			}
	to 		{
				margin-left: 0%;
			}
}

body
{
	margin-left: 0%;
	text-align:center;
	animation-name:acc;
	animation-duration: 0.5s;
}

.menu h2, h3
{
	text-indent: 0px;
	transition-property: text-indent;
	transition-duration: 0.5s;
}

.menu a
{
	text-decoration: none;
}
.menu h2:hover,h3:hover
{
	text-indent: 10%;
}